version: '3.9'

services:
  postgres:
    image: postgres:latest
    container_name: postgres
    restart: always
    environment:
      POSTGRES_USER: frils
      POSTGRES_PASSWORD: frils
      POSTGRES_DB: review
    ports:
      - "5432:5432"
    volumes:
      - pg_data:/var/lib/postgresql/
    networks:
      - pgnet
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U frils -d review"]
      interval: 10s
      timeout: 5s
      retries: 5

  pgadmin:
    image: dpage/pgadmin4:latest
    container_name: pgadmin
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: randofrils@gmail.com
      PGADMIN_DEFAULT_PASSWORD: frils
      PGADMIN_CONFIG_SERVER_MODE: 'False'
    ports:
      - "8180:80"
    volumes:
      - pgadmin_data:/var/lib/pgadmin
    depends_on:
      postgres:
        condition: service_healthy
    networks:
      - pgnet

volumes:
  pg_data:
  pgadmin_data:

networks:
  pgnet:
    driver: bridge
